:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;

  --hero-bg: #2e2f42;
  --button-bg: #f4f4fd;
  --dark-mode-bg: #2e2f42;
  --light-mode-bg: #f4f4fd;

  --hero-text-color: #ffffff;
  --button-text-color-inverse: #ffffff;
  --button-text-color: #4d5ae5;
  --headings-color: #2e2f42;
  --body-text-color: #434455;
  --accent-color: #e7e9fc;
  --light-mode-text: #f4f4fd;

  --duration-and-timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* =============== COMPONENTS ============ */

.conteiner {
  padding: 0 16px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 428px;
    margin: 0 auto;
  }
}

.secondary-headings {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--headings-color);
}

.headings {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--headings-color);
}

.logo-secondary-color {
  color: var(--primary-brand);
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}

/* ================ HEADER =============== */

.page-header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-conteiner {
  display: flex;
}

.logo {
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headings-color);
}

.menu {
  display: none;
}

.contacts-list {
  display: none;
}

.mobile-menu-btn {
  margin-left: auto;
  display: flex;
  justify-content: center;
  background-color: inherit;
  border: none;
}

.menu-hamburger-icon {
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu > .conteiner {
  position: relative;
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background var(--duration-and-timing-func);
}

.mobile-menu-close-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--duration-and-timing-func);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background: var(--pressed-state);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: 40px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts-list {
  margin-bottom: 48px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.current {
  color: var(--pressed-state);
}

.mobile-menu-tel-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #4d5ae5;
}

.mobile-menu-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-soc-list {
  display: flex;
  gap: 56px;
}

.mobile-menu-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color var(--duration-and-timing-func);
}
.mobile-menu-soc-logo {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.mobile-menu-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--pressed-state);
}

@media screen and (max-width: 479px) {
  .mobile-menu-soc-list {
    gap: 40px;
  }

  .mobile-menu-tel-link {
    font-size: 26px;
  }
}

/* ================= HERO ================= */

.hero {
  padding: 112px 0;
  background-color: var(--hero-bg);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile-min.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile@2x-min.jpg);
  }
}

.hero-heading {
  width: 290px;
  margin: 0 auto 72px auto;
  font-size: 32px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-text-color);
}

@media screen and (min-width: 480px) {
  .hero-heading {
    width: 320px;
    font-size: 36px;
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  background-color: var(--primary-brand);
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--duration-and-timing-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/* =================== FEATURES =================== */

.features {
  padding: 96px 0;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.feature-icon {
  display: none;
}

.features .headings {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* =================== ABOUT ====================== */

.about {
  display: none;
}

/* =================== OUR TEAM =================== */

.our-team {
  padding: 96px 0 120px 0;
  background-color: var(--light-mode-bg);
}

.our-team-card {
  width: 260.35px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .our-team-card:not(:last-child) {
    margin-bottom: 72px;
  }
}

.our-team-card-content {
  text-align: center;
  padding: 32px 14.17px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-soc-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-soc-item {
  display: flex;
}

.our-team-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--duration-and-timing-func);
}
.our-team-soc-logo {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.our-team-soc-link:hover,
.our-team-soc-link:focus {
  background-color: #404bbf;
}

/* =================== CUSTOMERS =================== */

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border var(--duration-and-timing-func);
}

.customer-icon {
  width: 110px;
  height: 56px;
  fill: #8e8f99;
  transition: fill var(--duration-and-timing-func);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid #404bbf;
  border-radius: 4px;
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: #404bbf;
}

/* =================== FOOTER =================== */

.footer {
  padding: 96px 16px;
  background-color: var(--dark-mode-bg);
}

.footer-logo-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-mode-text);
}

.footer-text {
  max-width: 264px;
  margin: auto;
  color: var(--accent-color);
}

.soc-media {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .footer-soc-list {
    margin-bottom: 72px;
    justify-content: center;
  }
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration-and-timing-func);
}
.footer-soc-logo {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  text-align: center;
}

.footer-form-heading {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer-form-input {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--duration-and-timing-func);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  outline: none;
  border-color: #31d0aa;
}

.footer-form-btn {
  position: relative;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  text-align: left;
  color: #ffffff;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  transition: background-color var(--duration-and-timing-func);
}

.footer-form-btn-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--pressed-state);
}

/* =================== MODAL =================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--duration-and-timing-func),
    visibility var(--duration-and-timing-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  min-width: 392px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    top: 0;
    transform: translate(-50%, 0) scale(100%);
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background var(--duration-and-timing-func);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--duration-and-timing-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--pressed-state);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/* =================== MODAL-FORM =================== */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-heading {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
  color: var(--headings-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration-and-timing-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--duration-and-timing-func);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand);
}

.modal-form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration-and-timing-func);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-description {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.user-policy-link {
  color: var(--primary-brand);
}

.modal-form-check-description span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--duration-and-timing-func),
    border-color var(--duration-and-timing-func),
    fill var(--duration-and-timing-func);
}

.modal-form-check:checked + .modal-form-check-description span {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-form-check:focus + .modal-form-check-description span {
  border-color: #404bbf;
}

.modal-form-submit {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  color: var(--button-text-color-inverse);
  background-color: var(--primary-brand);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--duration-and-timing-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-state);
}

/* =================== PORTFOLIO =================== */
.portfolio {
  padding: 48px 0;
}

.filter-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  transition: background-color var(--duration-and-timing-func),
    color var(--duration-and-timing-func),
    border-color var(--duration-and-timing-func),
    box-shadow var(--duration-and-timing-func);
}

.filter-btn:hover,
.filter_btn:focus {
  color: var(--button-text-color-inverse);
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: 396px;
}

.portfolio-card-link {
  /* width: 360px;
  height: 420px; */
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--duration-and-timing-func);
}

.portfolio-card-img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-card-link:hover .portfolio-card-overlay,
.portfolio-card-link:focus .portfolio-card-overlay {
  transform: translate(0, 0);
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--light-mode-text);
  background: var(--primary-brand);
  transform: translate(0, 100%);
  transition: transform var(--duration-and-timing-func);
}

.portfolio-card-content {
  padding: 32px 0 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
